.nav-container{
    display:flex;
    justify-content: space-between;
    position: fixed;
    /* border: 1px solid orange; */
    background-color: white;
    width: 100%;
    height: 100px;
    box-shadow: 0px 0px 5px 5px rgb(235,235,235);
}
.empty-space-nav{
    background-color: white;
    width:100vw;
    height:100px;
}
.nav-left-part{
    display: flex;
}
.nav-right-part{
    display: flex;
}
.nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:72px;
    padding-right:72px;
    /* border: 1px solid red; */
}
.head-logo{
    /* border: 1px solid red; */
    padding-left: 8px;
    padding-right: 8px;
}
.nav-logo a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 12px;
    /* border: 1px solid red; */

    transition-property: color;
    transition-duration: 0.25s;
    transition-timing-function: ease-out;
    transition-delay: 0ms;
}
.nav-logo a:hover{
    color:rgb(50, 189, 124);
}
.nav-list{
    display:flex;
    align-items: center;
    /* border: 1px solid red; */
}
.nav-list a{
    text-decoration: none;
    /* border: 1px solid green; */
    height:100%;
    color: black;
}
.nav-list-item{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:32px;
    padding-right:32px;
    height:100%;
    position:relative;

    transition-property: color;
    transition-duration: 0.25s;
    transition-timing-function: ease-out;
    transition-delay: 0ms;

}
/* .nav-list-item::before{
    content: '';
    opacity: 0.0;
    background: linear-gradient(to bottom, #ffffff, rgb(235, 235, 235));
    position: absolute;
    top:0;
    right:0;
    width:100%;
    height:100%;
    transition: opacity 2s;
    z-index: 1;
} */


.nav-list-item:hover{
    background: linear-gradient(to bottom, #ffffff, rgb(235, 235, 235));
    color:rgb(50, 189, 124);
}
/* .nav-list-item:hover::before{
    opacity: 1;

} */
.nav-search{
    display: flex;
    /* border: 1px solid orange; */
    padding-left: 72px;
    padding-right: 72px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.nav-search input[type='text']{
    border: none;
    border-bottom: 1px solid rgb(206, 206, 206);
    padding-left: 24px;
}
.nav-search input[type='text']:focus{
    outline: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px rgb(246,246,246);
}
.nav-search input[type='button']{
    background-color: rgb(203, 255, 238);
    padding-left: 24px;
    padding-right: 24px;
    border: none;
    border-radius: 10px;
    margin-left: 12px;
    cursor: pointer;
}
.nav-search input[type='button']:hover{
    background-color: rgb(140, 255, 217);
    
}
@keyframes highlight-font{
    from{
        color:black;
    }
    to{
        color:aqua;
    }
}

